RewriteEngine On

RewriteCond %{HTTP_HOST} ^www\.docs\.jquery\.com$ [NC]
RewriteRule ^(.*)$ http://docs.jquery.com/$1 [R=301,L]

RewriteRule ^Donate$ http://jquery.org/donate [R=301,L]
RewriteRule ^About$ http://jquery.org/ [R=301,L]
RewriteRule ^About/Contributors$ http://jquery.org/team [R=301,L]
RewriteRule ^Contributors$ http://jquery.org/team [R=301,L]
RewriteRule ^Licensing$ http://jquery.org/license [R=301,L]
RewriteRule ^License$ http://jquery.org/license [R=301,L]
RewriteRule ^History_of_jQuery$ http://jquery.org/history [R=301,L]
RewriteRule ^Design_and_Identity$ http://jquery.org/about [R=301,L]

RewriteRule ^(API/|API/.*/)?Core$ http://api.jquery.com/category/core/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Selectors$ http://api.jquery.com/category/selectors/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Attributes$ http://api.jquery.com/category/attributes/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Traversing$ http://api.jquery.com/category/traversing/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Manipulation$ http://api.jquery.com/category/manipulation/ [R=301,L]
RewriteRule ^(API/|API/.*/)?CSS$ http://api.jquery.com/category/css/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Events$ http://api.jquery.com/category/events/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Effects$ http://api.jquery.com/category/effects/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Ajax$ http://api.jquery.com/category/ajax/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Utilities$ http://api.jquery.com/category/utilities/ [R=301,L]
RewriteRule ^(API/|API/.*/)?Internals$ http://api.jquery.com/category/plugin-authoring/ [R=301,L]

RewriteRule ^Selectors/nthChild$ http://api.jquery.com/nth-child-selector/ [R=301,L]
RewriteRule ^Selectors/firstChild$ http://api.jquery.com/first-child-selector/ [R=301,L]
RewriteRule ^Selectors/lastChild$ http://api.jquery.com/last-child-selector/ [R=301,L]
RewriteRule ^Selectors/onlyChild$ http://api.jquery.com/only-child-selector/ [R=301,L]
RewriteRule ^Selectors/next$ http://api.jquery.com/next-adjacent-selector/ [R=301,L]
RewriteRule ^Selectors/siblings$ http://api.jquery.com/next-siblings-selector/ [R=301,L]

RewriteRule ^Selectors/attributeHas$ http://api.jquery.com/has-attribute-selector/ [R=301,L]
RewriteRule ^Selectors/attributeEquals$ http://api.jquery.com/attribute-equals-selector/ [R=301,L]
RewriteRule ^Selectors/attributeNotEqual$ http://api.jquery.com/attribute-not-equal-selector/ [R=301,L]
RewriteRule ^Selectors/attributeStartsWith$ http://api.jquery.com/attribute-starts-with-selector/ [R=301,L]
RewriteRule ^Selectors/attributeEndsWith$ http://api.jquery.com/attribute-ends-with-selector/ [R=301,L]
RewriteRule ^Selectors/attributeContains$ http://api.jquery.com/attribute-contains-selector/ [R=301,L]
RewriteRule ^Selectors/attributeContains$ http://api.jquery.com/attribute-contains-selector/ [R=301,L]

RewriteRule ^Selectors/(.*)$ http://api.jquery.com/$1-selector/ [R=301,L]


RewriteRule ^API$ http://api.jquery.com/ [R=301,L]
RewriteRule ^Plugins$ http://plugins.jquery.com/ [R=301,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [S=51]

RewriteRule ^action/([a-z]*)/(.*)$ /index.php?action=$1&title=$2 [L,QSA]

#RewriteCond %{REQUEST_URI}  !^index.php
RewriteRule ^(.*)$ /index.php?title=$1 [L,QSA]
